@font-face {
    font-family: 'Modern Era';
    src: url('fonts/modern-era-light.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Modern Era Bold';
    src: url('fonts/modern-era-extrabold.ttf') format('truetype');
  }
  
  /* @font-face {
    font-family: 'Keroine';
    src: url('keroine.ttf') format('truetype');
  } ---unable to find font online */

html {
    background-color: #0F0F0F;
}

/* ANIMATION */

.animation-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    z-index: 9999;
    overflow: hidden;
    animation: fade-in-image 2s ease-in-out forwards, fade-out-background 2s ease-in-out forwards;
  }
  
  @keyframes fade-in-image {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @keyframes fade-out-background {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  .fade-in-image.finished {
    animation: none;
  }
  
  .fade-in-image.finished + .website-content {
    display: block;
  }
  
  .animation-container {
    animation-delay: 1s; /* Adjust the delay as needed */
  }
    
nav {
    background-color: transparent !important;
    font-family: Modern Era;
    color: #000000 !important;
}

body {
    color: #8E4B44;
    background-color: #FFF;
    width: 100%;
}

.terracota-btn {
    color: #8E4B44 !important;
    border-radius: 17px;
    border-color: #8E4B44;
    text-decoration: none;
}

.white-btn {
    color: #FFFEF6 !important;
    border-radius: 17px;
    border-color: #FFFEF6;
    text-decoration: none;
}

.terracota-btn:active .terracota-btn:focus {
    background-color: #CEA7A2;
}

.p10 {
    padding: 10px;
}

h2 {
    font-family: Keroine;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    color: #8E4B44;
    font-family: Modern Era;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.3;
    padding-top: 10px;
}

a {
    color: #9A675E;
}

strong {
    font-family: Modern Era Bold;
}

/* div container with banner img and white logo */
.banner {
    position: relative;
    display: inline-block;
}

/* banner img */
#banner {
    width: 100%;
    display: block;
    height: auto;
}

/* banner white logo */
#banner-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.philosophy {
    margin: 5px;
    position: relative;
    display: block;
}

.philosophy>p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    text-align: left;
    white-space: nowrap;
}

.philosophy>img {
    display: block;
    width: 50%;
    margin: auto;
    height: auto;
}

/* COMMUNITY SECTION */

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  
  .image-container img {
    flex: 0 0 auto;
    height: auto;
    object-fit: cover;
    margin-bottom: 8px;
  }
  
  .square {
    aspect-ratio: 1/1;
    width: 64%;
  }
  
  .rectangle {
    aspect-ratio: 1/2;
    width: 32%;
  }


#community-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-wrapper-rec {
    flex-basis: 38%; 
    margin-bottom: 1%;
  }

.image-wrapper-sq {
    flex-basis: 58%; 
    margin-bottom: 1%;
  }
  
.image-wrapper img {
    width: 100%;
    display: block;
    object-fit: cover;
  }

.button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

/* MEMBERSHIP SECTION */
#membership {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#membership-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#membership-wrapper>div>p {
    color: #FFFEF6;
}

#juno-club {
    width: 504px;
    height: 422px;
    flex-shrink: 0; 
    background-color: #CEA7A2;
    color: #FFFEF6;
    text-align: center;
    border: #000000 5px;
}

#juno-fit {
    width: 504px;
    height: 422px;
    flex-shrink: 0; 
    background-color: #C5D5B3;
    color: #FFFEF6; 
    text-align: center;
}

#juno-social {
    width: 504px;
    height: 422px;
    flex-shrink: 0; 
    background-color: #E4D6AE;
    color: #FFFEF6;
    text-align: center;
}

/* AGENDA SECTION */
.carousel-item {
    padding: 50px;
}

.carousel-item>p {
    color: #000000;
}

.agenda-date {
    color: #8E4B44 !important
}

.carousel-control-next {
    color: #8E4B44 !important;
}

/* HOUSE SECTION */
#house {
    position: relative;
    overflow: hidden;
    max-height: 820px;
}

#house>h2, #house>p {
    position: relative;
    top: 50px;
}

.house-img-mobile {
    width: 100%;
    max-width: 800px;
    position: relative;
    bottom: 300px;
}

#nave {
    position:relative;
    left: 40px;
    top: 180px;
    width: 40%;
}

#farinera {
    position: relative;
    bottom: 100px;
    left: 300px;
    width: 40%;
}

#nave-p, #farinera-p {
    color: #000000 !important;
    font-family: Keroine;
}

#nave>h3 #farinera>h3 {
    padding: 10px;
    color: #8E4B44;
    font-family: Keroine;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} 

/* HOUSE SECTION */
#juno-cafe>img {
    width: 100%;
}

/* FOOTER SECTION */
.terracota-bg {
    background-color: #9A675E;
}

.form-control {
    background-color: #9A675E;
    border-radius: 17px;
    width: 70%;
    color: #FFFEF6 !important;
}

.terracota-bg>h2 {
    color: #FFFEF6;
    font-family: Keroine;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.terracota-bg>h3 {
    color: #FFFEF6;
    font-family: Keroine;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-control::placeholder { 
    color: #FFFEF6;
  }

#email-input {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.contact>p {
    color: #FFFEF6;
}

#footer {
    position: relative;
}

#links {
    width: 100%;
    position: relative;
    bottom: 572px;
    z-index: -1;
    margin: 0px;
    padding: 0px;
}

/* ------ MEDIA QUERIES ------ */
/* STYLES APPLIED TO SMALLER VIEWPORTS */
@media (max-width: 767px) {
    *{ max-width: 767px; }

    .nav-banner {
        position: relative;
        display: inline-block; 
        max-height: 400px;
        overflow: hidden;  
    }

    .banner {
        position: relative;
        bottom: 80px;
    }
    
    .navbar {
        background-color: transparent !important;
        z-index: 999;
    }

    .navbar-toggler-icon .navbar-toggler{
        color: #8E4B44 !important;
        border: 0px;
    }

    .mobile-hidden {
        display: none;
    }

    #membership-wrapper>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 100%;
        height: 217.698px;
        flex-shrink: 0;
        margin: 0px;
    }


}

/* STYLES APPLIED TO BIGGER VIEWPORTS */
@media (min-width: 768px) {
    .desktop-hidden { display: none;}

    .navbar {  
        background-color: #FEFDF6;
        font-family: Modern Era;
        color: #000000 !important;
    }

    ul>li { margin-left: 15px;}

    #banner-logo { width: 50%; }

    body {
        color: #8E4B44;
        background-color: #FEFDF6;
        border: #000000 solid 5px;
        max-width: 1300px;
        margin: auto;
    }

    h2 {
        font-family: Keroine;
        font-size: 80px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    h3 {
        font-family: Modern Era;
        font-size: 44px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    
    p {
        font-family: Modern Era;
        font-size: 28px;
        font-style: normal;
        font-weight:lighter;
        line-height: normal;
    }
    
    a { color: #9A675E;}

    #about {
        display: flex;
        flex-direction: row;
        margin-bottom: -50px;
        max-width: 1500px;
    }

    #about-left {
        width: 48%;
    }

    .philosophy {
        width: 80%;
        padding-top: 80px;
    }

    .philosophy>p { 
        font-size: 28px;
        width: 80%;
    }

    .image-scroll-container {
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
      }
      
      .image-wrapper {
        display: inline-block;
        vertical-align: top;
        white-space: normal;
      }
      
      .image-wrapper img {
        width: auto;
        height: 100%;
        object-fit: contain;
      }
    
    #membership {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #membership-wrapper {
        display: flex;
        flex-direction: row;
    }

    #membership-wrapper>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-shrink: 0;
        margin: 0px;
        border: #000000 solid .5px;
    }
    
    #juno-club {
        width: 33%;
        /* height: 422px; */
        /* flex-shrink: 0;  */
        background-color: #CEA7A2;
        color: #FFFEF6;
        text-align: center;
        border: #000000 5px;
    }
    
    #juno-fit {
        width: 33%;
        max-width: 400px;
        height: 422px;
        flex-shrink: 0; 
        background-color: #C5D5B3;
        color: #FFFEF6; 
        text-align: center;
    }
    
    #juno-social {
        width: 33%;
        height: 422px;
        flex-shrink: 0; 
        background-color: #E4D6AE;
        color: #FFFEF6;
        text-align: center;
    }
    
    .agenda-scroll-container {
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
      }
      
    .agenda-wrapper {
        display: flex;
        flex-direction: row;
      }
      
    .aganda-card {
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        margin-right: 10px; /* Adjust the margin as needed */
      }
      
    .agenda-card>img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
      
    #house {
        position: relative;
    }
    
    .house-img-desktop {
        width: 100%;
        max-width: 1000px;
        position: relative;
        top: -300px;
      }

    #juno-cafe {
        background-color: #C5D5B3;
        display: flex;
        flex-direction: row;
      }

    #juno-cafe>img {
        width: 50%;
      }

    .contact {
        width: 100%;
    }
}